@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Caveat", sans-serif !default;
$base-font-size:   22px !default;
$base-font-weight: 200 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$header-font-family: 'Permanent Marker', cursive, sans-serif;

$spacing-unit:     30px !default;

$text-color:            #373E48 !default;
$background-color:      #EEEEEE !default;
$background-head-color: #373E48 !default;
$background-menu-color:  darken($background-head-color, 25%) !default;
$brand-color:           #669901 !default;

$grey-color:       #9d9d9d !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $base-font-size * $ratio;
}

// Import partials.
@import
	"minima/base",
	"minima/layout",
	"minima/syntax-highlighting"
;

body {
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: $header-font-family;

	a:visited {
		color: $brand-color;
	}

	a:hover {
		color: $text-color !important;
	}
}

/*strong {
	font-family: $header-font-family;
}*/

hr {
	margin: 25px 0;
	border-color: $grey-color-dark;
}

pre, code,
.highlighter-rouge .highlight,
.highlight .err {
	background-color: #000;
	border-color: $grey-color-dark;
}

.site-header {
	.site-title {
		font-family: $header-font-family;
		font-size: $base-font-size;

		&, &:visited {
			color: $grey-color-light;
		}
	}

	.site-subtitle {
		@include relative-font-size(1.625);
		font-family: $header-font-family;
		font-weight: 500;
		line-height: $base-line-height * $base-font-size * 2.25;
		letter-spacing: -1px;
		margin-left: 1rem;
		margin-bottom: 0;
		font-size: $base-font-size;
	}
}

.page-content {
	padding: 0;

	.article-image {
		text-align: center;

		img {
			width:100%;
			max-width: 1200px;

			@include media-query($on-palm) {
				width: 100%;
			}
		}
	}
}

.site-footer {
	font-family: $header-font-family;

	.copyright {
		color: $grey-color;
		font-weight: 700;
	}

	.footer-col-1, .footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}

	.footer-col-2 {
		text-align: right;
	}

	a {
		color: $background-color;
	}

	@include media-query($on-laptop) {
		.footer-col-1, .footer-col-2 {
			width: 100%;
			text-align: center;
		}
	}
}

.post-header {
	h1, .post-meta {
		text-align: center;
	}

	h1 {
		padding-top: 20px;
	}

	a {
		color: $text-color;
	}

	.post-featured {
		background-size: cover;
		background-position: 50%;
		margin-bottom: 15px;
		padding-top: 250px;

		h1 {
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.50);
		}
	}
}

.full-width-banner {
	// Taken from WP - Has issues with overflowing, will need patching (tempfix to disable body overflow-x... yuck).
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
	width: auto;
}

.aligncentre {
	text-align: center;
}

.button {
	background-color: $brand-color;
	color: $background-color;
	padding: 20px;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	border: none;
	font-size: $base-font-size;
	cursor: pointer;

	a {
		color: $background-color;
	}

	a:hover {
		color: $text-color;
	}
}

.pagination {
	@include relative-font-size(1.5);
	text-align: center;
	margin: 10px 0 10px 0;

	span.previous, span.next {
		color: $grey-color;
	}
}
